<div class="app-header-wrapper">
  <div class="left">
    <a routerLink="">
      <h1>Episodate Plug</h1>
    </a>
  </div>
  <div class="center">

  </div>
  <div class="right">
    <div class="username">
      <span class="icon"><mat-icon>person</mat-icon></span>
      <span [matMenuTriggerFor]="userMenu">{{username}}</span>
    </div>
    <mat-menu #userMenu="matMenu">
      <a mat-menu-item routerLink="admin/series"><mat-icon>settings</mat-icon> Admin dashboard</a>
      <button mat-menu-item (click)="logout()"><mat-icon>logout</mat-icon> Logout</button>
    </mat-menu>
  </div>
</div>
