.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  h2 {
    margin-right: 8px;
  }
  button {
    margin: 0 4px;
    mat-icon {
      margin: 0;
    }
  }
}

.list {
  margin-top: 32px;
}

.link-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 8px 24px;
  width: 100%;
  >* {
    margin: 0 4px;
  }

  .link {
    padding: 16px 24px;
    background-color: #efefef;
    border-radius: 3px;
    width: 100%;
    overflow-x: auto;
  }
  .actions {
    mat-icon {
      margin: 0;
    }
  }
}
